# Click Though Rate for Advertising AB Test

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

from scipy.stats import chi2_contingency

In [2]:
DF = pd.read_csv('advertisement_clicks.csv')

In [3]:
DF.head()

  advertisement_id  action
0                B       1
1                B       1
2                A       0
3                B       0
4                A       1

In [4]:
DF.describe()
#The total number of samples is 2000 and the average CTR is 33%
#The total std is 0.47

            action
count  2000.000000
mean      0.338000
std       0.473147
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [5]:
DF.groupby(['advertisement_id']).mean()
#B has a higher click though rate thatn A

                  action
advertisement_id
A                  0.304
B                  0.372

In [6]:
DF.groupby(['advertisement_id']).count()
#Both adds have been equially samples

                  action
advertisement_id
A                   1000
B                   1000

In [7]:
DF.groupby('advertisement_id', as_index=False).agg({"action": [np.mean,np.var,]})

  advertisement_id action
                     mean       var
0                A  0.304  0.211796
1                B  0.372  0.233850

In [51]:
DFA = DF.loc[DF['advertisement_id'] == 'A']
DFB = DF.loc[DF['advertisement_id'] == 'B']

In [52]:
A_clk = DFA.loc[DFA['action'] == 1].size
A_noclk  = DFA.loc[DFA['action'] == 0].size
B_clk = DFB.loc[DFB['action'] == 1].size
B_noclk  = DFB.loc[DFB['action'] == 0].size

In [53]:
T = np.array([[A_clk, A_noclk], [B_clk, B_noclk]])
T

array([[ 608, 1392],
       [ 744, 1256]])

In [55]:
chi2_contingency(T, correction=False)

(20.665367632599796, 5.469641027718189e-06, 1L, array([[  676.,  1324.],
        [  676.,  1324.]]))